<%-include("partials/header");-%>
<h1>Compose</h1>
<form action="/compose" method="POST">
<div class="form-group">
<label for="Title">Title</label>
<input type="text" name="t1" class="form-control">
<label for="post">Post</label>
<textarea name="text" id="ab" class="form-control"></textarea>

</div>
<button type="submit" name="button" value="a value" class="btn btn-primary">Publish</button>
</form>
<%-include("partials/footer");-%>